<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hí Store - Baby three chính hãng</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <!-- header -->
    <%- include('header') %>

    <!-- mid -->
    <div class="container" style="height: 1110px;">
        <div class="breadcumb row mt-5 mb-4">
            <a href="/" class="mr-2" style="text-decoration: none; color: rgb(42, 42, 42);">Trang
                chủ</a>
            <i class="fas fa-chevron-right mr-2"></i>
            <span>
                <b>Giới thiệu</b>
            </span>
        </div>
        <div class="page-title mb-3">
            <h1>Giới thiệu</h1>
        </div>
        <div class="content-page rte">
            <p class="mb-5" style="text-align: justify;">
                Khám phá trải nghiệm mua sắm chính hãng tại Hí Store. Với gần 10 năm kinh nghiệm phân phối các thương
                hiệu nổi tiếng trên thế giới, sản phẩm có nguồn gốc rõ ràng với dịch vụ tận tâm. Giao hàng nhanh toàn
                quốc và quốc tế.
            </p>
            <p style="text-align: justify;">
                Hí Store tự hào là địa chỉ <b>phân phối hàng chính hãng</b> uy tín hàng đầu với gần <b>10 năm kinh
                    nghiệm</b> trên thị
                trường. Chúng tôi cam kết mang đến cho bạn những sản phẩm có <b>nguồn gốc, xuất xứ minh bạch, đẹp
                    chuẩn</b>,
                đảm bảo chất lượng cao cấp từ các thương hiệu nổi tiếng thế giới, đáp ứng nhu cầu đa dạng của khách hàng
                trong và ngoài nước. Mỗi sản phẩm tại Hí Store không chỉ là một món hàng mà còn là biểu tượng của
                <b>phong
                    cách sống sang trọng</b> và <b><b>đẳng cấp</b></b>.
            </p>
            <p style="text-align: justify;">
                Tại Hí Store, <b>khách hàng luôn là trung tâm</b> của mọi dịch vụ. Chúng tôi xây dựng một trải nghiệm
                mua sắm
                độc đáo, từ việc tư vấn tận tâm đến các <b>chính sách hỗ trợ hậu mãi</b> vượt trội. Hí Store không chỉ
                giúp bạn
                sở hữu sản phẩm chính hãng mà còn mang lại sự hài lòng tuyệt đối và niềm tự hào khi trở thành khách hàng
                của chúng tôi. Mỗi sản phẩm trước khi đến tay khách hàng đều trải qua <b>quy trình kiểm định</b> nghiêm
                ngặt,
                đảm bảo đáp ứng các tiêu chuẩn khắt khe nhất về <b>chất lượng và an toàn</b>. Điều này giúp củng cố vị
                thế của
                Hí Store như một trong những địa điểm mua sắm uy tín hàng đầu, nơi khách hàng có thể <b>tin tưởng</b>
                mỗi khi
                <b>tìm kiếm sản phẩm chính hãng</b>.
            </p>
            <p style="text-align: justify;">
                Chúng tôi tự hào là <b>đối tác của nhiều công ty và tập đoàn lớn</b>, không chỉ trong việc <b>phân phối
                    sản phẩm</b>
                mà còn trong việc <b>cung cấp hàng hóa cho các sự kiện marketing và các hoạt động thương mại khác</b>,
                giúp các
                đối tác doanh nghiệp thực hiện các chiến dịch quảng bá sản phẩm hiệu quả. Sự hợp tác này bao gồm việc
                cung cấp hàng hóa cho các chương trình khuyến mãi lớn, các hội nghị thương mại và các sự kiện đặc biệt,
                đảm bảo rằng các sự kiện của đối tác luôn có sự hỗ trợ về sản phẩm chất lượng cao. Với uy tín đã được
                xây dựng, Hí Store được biết đến là đối tác đáng tin cậy, có khả năng cung cấp một lượng lớn sản phẩm
                chính hãng với điều kiện bảo quản và giao hàng chuyên nghiệp. Chúng tôi tự hào góp phần vào thành công
                của nhiều chiến dịch marketing, nâng tầm giá trị thương hiệu cho đối tác.
            </p>
            <p style="text-align: justify;">
                Hí Store hiểu rõ nhu cầu của khách hàng, chúng tôi cung cấp dịch vụ giao hàng cực kỳ nhanh chóng. Chỉ
                <b>trong vòng 1-2 tiếng</b> sau khi đặt hàng, bạn đã có thể nhận được sản phẩm của mình (áp dụng nội
                thành SG
                cho thanh toán chuyển khoản). Đây là dịch vụ đặc biệt hữu ích cho những ai cần mua hàng gấp hoặc cho các
                dịp đặc biệt. Không chỉ dừng lại ở Sài Gòn, Hí Store mở rộng dịch vụ <b>giao hàng nhanh chóng của mình
                    đến
                    mọi miền của đất nước</b>. Dù bạn ở bất kỳ đâu tại Việt Nam, Hí Store đảm bảo giao hàng nhanh chóng
                và an
                toàn, giúp bạn tiếp cận với hàng hóa chính hãng một cách nhanh nhất có thể.
            </p>
            <p style="text-align: justify;">
                Không chỉ phục vụ khách hàng trong nước, Hí Store cũng mở rộng <b>dịch vụ giao hàng đến quốc tế</b>.
                Chúng tôi
                hợp tác với các đối tác vận chuyển uy tín, đảm bảo hàng hóa của bạn được giao đến tận tay một cách an
                toàn và hiệu quả, dù bạn ở bất kỳ đâu trên thế giới. Với Hí Store, bạn không chỉ mua được sản phẩm chính
                hãng mà còn được trải nghiệm dịch vụ giao hàng nhanh chóng và chuyên nghiệp. Chúng tôi luôn nỗ lực để
                đáp ứng và vượt qua kỳ vọng của khách hàng về một trải nghiệm mua sắm trực tuyến tiện lợi và đáng tin
                cậy.
            </p>
            <p style="text-align: justify;">
                Khi bạn chọn mua sắm tại Hí Store, bạn không chỉ đơn thuần sở hữu một sản phẩm mà còn khẳng định <b>gu
                    thẩm
                    mỹ tinh tế</b> và phong cách sống thời thượng. Những sản phẩm từ Hí Store là minh chứng cho sự
                <b>đẳng cấp</b> của
                bạn, khiến bạn nổi bật trong mọi hoàn cảnh. Chúng tôi tin rằng, mỗi món đồ bạn chọn tại đây sẽ là điểm
                nhấn giúp bạn <b>tỏa sáng</b>, thể hiện sự khác biệt và làm cho mọi ánh nhìn đều phải <b>ngưỡng mộ sự
                    sành điệu</b>
                của bạn. Hí Store không chỉ bán sản phẩm, chúng tôi mang đến giá trị và sự tự hào cho phong cách sống
                của bạn.
            </p>
            <p style="text-align: justify;">
                <b>Hí Store - Nơi Sự Cao Cấp Tạo Nên Giá Trị Riêng</b>
            </p>
            <p>
                Địa chỉ: <b>48/34 Trường Chinh, P4, Tân Bình</b>
                <br>
                Xem địa điểm trên Google Maps
                <br>
                Hotline: <b>0768 79 3009</b>
            </p>
        </div>
    </div>

    <!-- footer -->
    <%- include('footer') %>
</body>

</html>