<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hí Store - Baby three chính hãng</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <!-- header -->
    <%- include('header') %>

    <!-- mid -->
    <div class="container" style="height: 900px;">
        <div class="breadcumb row mt-5 mb-4">
            <a href="/" class="mr-2" style="text-decoration: none; color: rgb(42, 42, 42);">Trang
                chủ</a>
            <i class="fas fa-chevron-right mr-2"></i>
            <span>
                <b>Tuyển dụng</b>
            </span>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="col-left-1 mb-4">
                    <b>DANH MỤC TIN TỨC</b>
                </div>
                <div class="col-left-2 p-3 pt-4">
                    <b class=>TIN TỨC NỔI BẬT</b>
                    <div class="row mt-2">
                        <img src="https://bizweb.dktcdn.net/100/467/909/articles/z6217905898403-97afc2721e21072666ec180e02ff3fa2.jpg?v=1736571171087"
                            alt="" class="col-4">
                        <div class="col-left-ct col-8">
                            Baby Three Có Gì Đặc Biệt Khiến Gen Z Mê Mẩn Hơn Cả Labubu?
                        </div>
                    </div>
                    <div class="row mt-4">
                        <img src="https://bizweb.dktcdn.net/100/467/909/articles/20240314-134438-601670-1200x120.jpg?v=1723709793600"
                            alt="" class="col-4">
                        <div class="col-left-ct col-8">
                            Labubu là gì mà hot đến vậy? Labubu chính hãng giá bao nhiêu
                        </div>
                    </div>
                    <div class="row mt-4">
                        <img src="https://bizweb.dktcdn.net/100/467/909/articles/s51df14eba06a4b4aa0d88ff439db355.jpg?v=1722419151023"
                            alt="" class="col-4">
                        <div class="col-left-ct col-8">
                            Cách Check labubu Hoa Cúc Chính Hãng - REAL/FAKE Và điểm khác biệt
                        </div>
                    </div>
                    <div class="row mt-4">
                        <img src="https://bizweb.dktcdn.net/100/467/909/articles/z5203739449701-5ea94ebd272b28596.jpg?v=1721829515580"
                            alt="" class="col-4">
                        <div class="col-left-ct col-8">
                            Cách check Hidden tag MLB mới nhất 2024 - Những lỗi thường gặp và cách khác phục
                        </div>
                    </div>
                    <div class="row mt-4">
                        <img src="https://bizweb.dktcdn.net/100/467/909/articles/448398291-3771536566468867-66404.jpg?v=1720340854463"
                            alt="" class="col-4" style="height: 100px;">
                        <div class="col-left-ct col-8">
                            CÂU CHUYỆN THỜI TRANG ĐẰNG SAU MÓN ART TOY LABUBU ĐƯỢC LISA (BLACKPINK) SĂN LÙNG
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h6 class="title-page">
                    <b>TUYỂN DỤNG</b>
                </h6>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="image-td mb-2">
                            <img src="https://bizweb.dktcdn.net/100/467/909/articles/we-are-hiring-facebook-post.jpg?v=1739179537123"
                                alt="">
                        </div>
                        <div class="title-image-tt">
                            <p>
                                <b>TUYỂN DỤNG NHÂN VIÊN BÁN HÀNG</b>
                            </p>
                        </div>
                        <div class="row time">
                            <i class="fa-regular fa-clock"></i>
                            <i> Ngày 10/02/2025</i>
                        </div>
                        <p class="justify mt-1" style="color: rgb(72, 72, 72);;">
                            TUYỂN DỤNG NHÂN SỰ - GIA NHẬP NHÀ HÍ Vị trí cần tuyển: Nhân viên bán hàng Thời gian
                        </p>
                        <div class="add row">
                            <p><b>Xem thêm</b></p>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('footer') %>
</body>

</html>